<h1>App Preferences</h1>

<p>Sort songs in <strong><%= @preference.song_sort_order %></strong> order.</p>
<p>Sort artists in <strong><%= @preference.artist_sort_order %></strong> order.</p>
<p>Allow ability to create songs? <strong><%= @preference.allow_create_songs %></strong></p>
<p>Allow ability to create artists? <strong><%= @preference.allow_create_artists %></strong></p>
